.slider {
    max-width: 650px;
    margin: 0 auto;

    &__item {
        max-width: 600px;
        padding: 60px 25px 30px;
        position: relative;
    }

    &__user-picture {
        border-radius: 50px;
        background-color: #fff;
        width: 90px;
        height: 90px;
        overflow: hidden;
        box-shadow: 0 4.53741px 18.1496px #F2F5FA, 0 4.53741px 18.1496px #F2F5FA, 0 4.53741px 18.1496px #F2F5FA;
        padding: 5px;
        margin: 0 auto;
        position: absolute;
        right: 0;
        left: 0;
        top: -50px;

        .slider__image {
            width: 100%;
        }
    }

    &__title {
        text-align: center;
        font: {
            family: $font-gilroy-semi-bold;
            size: 16px;
        }
        margin-top: 16px;
    }

    &__icon {
        width: 30px;
        display: block;
        margin: 15px auto 0;
    }

    &__description {
        text-align: center;
        line-height: 150%;
        font: {
            family: $font-gilroy-medium;
            size: 14px;
        }
        color: #73738D;
        margin: 10px 0 20px;
    }

    &__image {
        display: block;
        margin: 0 auto;
    }
}
