<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>Richbee relation</title>
    <meta content="#fff" name="theme-color">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <link href="img/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="img/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="img/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="img/favicons/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="img/favicons/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="img/favicons/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="img/favicons/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="img/favicons/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="img/favicons/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="img/favicons/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="img/favicons/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="img/favicons/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="img/favicons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="img/favicons/apple-touch-icon-167x167.png" rel="apple-touch-icon" sizes="167x167">
    <link href="img/favicons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="img/favicons/apple-touch-icon-1024x1024.png" rel="apple-touch-icon" sizes="1024x1024">
    <link href="styles/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    @@include("../blocks/modules/header/header.html")
    @@include("../blocks/modules/customer-feedback/customer-feedback.html")
    @@include("../blocks/modules/request-form/request-form.html")
    @@include("../blocks/modules/footer/footer.html")
</div>
<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
</body>
</html>
