.title-large {
    font: {
        family: $font-gilroy-bold;
        size: 40px;
    }
    line-height: 50px;
}

.title-middle {
    font: {
        family: $font-gilroy-bold;
        size: 30px;
    }
    line-height: 30px;
}
